* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(66, 69, 78);
    background-color: #fafafa;
    overflow: hidden;
}

h1, .text-1 {
    font-size: 1.3em;
    font-weight: bold;
}

h2, .text-2 {
    font-size: 1.2em;
}

h3, .text-3 {
    font-size: 1em;
}

h4, .text-4 {
    font-size: .8em;
}

.hint__color {
    color: #9e9e9e;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 5px;
}

.mr-2 {
    margin-right: 5px;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.warning__color {
    color: #FFEB3B;
}

.success__color {
    color: #4caf50;
}

.danger__color {
    color: #ff5722;
}

.divider {
    height: auto;
    width: 0px;
    border-right: 1px solid #eee;
    margin: 0 10px;
}

.flex-beetwhen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.font-aws {
    font-family: 'Font Awesome 5 Free', 'sans-serif';
    font-weight: 900;
}

.price-color {
    color: #FF9800;
    font-weight: bold;
}

.checkbox > .check::after {
    content: '\f0c8';
    font-family: 'Font Awesome 5 Free', 'sans-serif';
    font-weight: 200;
    font-size: 1.5em;
    display: inline-block;
    margin-top: -.2em;
    margin-left: -.9em;
    font-style: normal;
}

.checkbox > input[type="checkbox"]:checked ~ .check::after {
     content: '\f14a';
     font-weight: bold;
     color: #00bcd4;
}

.checkbox > input[type="checkbox"] {
    opacity: 0;
}

.checkbox {
    position: relative;
}

/* ==== MAIN LAYOUT 
   ============================== */
.main {
    display: flex;
    flex-direction: column;
}

/* ======== HEADER 
  =============================== */

.main > .header {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    height: 55px;
    width: 100%;
    font-size: 1.2rem;
    /* padding: 10px; */
    background-color: #00bcd4;
    color: #fefeff;
    /* box-shadow: 0px 5px 5px rgba(0,0,0,.2); */
}

.main > .header > .title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main > .header > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.main > .header > .actions {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ======== BODY 
  =============================== */

.main > .body {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
    width: 100%;    
}

.main > .body > .menu {    
    width: 80%;
    max-width: 250px;
    display: none;
}

.main > .body > .content {    
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
}

/* ==== MODAL
   ================================ */
   .x-modal-overlay {
    background-color: rgba(0,0,0,0);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-modal {
    height: auto;
    width: auto;
    min-width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}

.x-modal > .x-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px;
    font-size: 1.5em;
    background-color: #00bcd4;
    color: #fff;
}

.x-modal > .x-footer {
    display: flex;
    flex-direction: row;
}

.x-modal > .x-footer > * {
    flex: 1;
}

.x-modal .x-btn {
    border: none;
    background-color: #ddd;
    color: #444;
    outline: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.x-modal .x-btn[disabled] {
    background-color: #aaa;
    cursor: default;
}

.x-modal .x-btn:not([disabled]):hover {
    background-color: #ccc;
}

.x-modal .x-btn.x-btn-success:not([disabled]) {
    background-color: #4caf50;
    color: #fff;
}

.x-modal .x-btn.x-btn-success:not([disabled]):hover {
    background-color: #409a44;
}

.x-modal .x-title {
    margin: 0 20px;
    text-align: left;
    flex: 1;
}

.x-modal .x-close,
.x-modal .x-actions {
   font-size: .7em;
   font-weight: normal;
}

@media screen and (max-width: 825px) {

    .x-modal {
        height: 100vh;
        width: 100%;
        background-color: #f5f5f5;
    }

    .x-modal > .x-body {
        padding: 10px;
    }

    .x-modal .card {
        margin-bottom: 10px;
    }
}

/* ==== CARD 
   =============================== */
.card {
    position: relative;
    display: block;
    height: auto;
    width: 100%;    
    padding: 10px;
    background-color: #fff;
    color: rgb(76, 76, 87);
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}

.card > .title-s {
    font-size: 1em;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
}

.card-list {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.card-list > .header {
    background-color: #607D8B;
    color: #fff;
    padding: 5px 10px;   
}

.card-list > .card {
    box-shadow: none;
    margin-bottom: 5px;
}

/* .card-list > .card::after {
    position: absolute;
    z-index: 1;
    bottom: -1px;
    content: '';
    height: 0;
    width: 90%;
    border-bottom: 1px solid #f9f9f9;
} */


/* ==== CARD EXPENSE
   =================================== */
.card-expense {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

.card-expense > .info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-expense > .info > .description {
    font-weight: bold;
}

.card-expense > .info .deptor:not(:last-child)::after {
    content: ',';
    margin-right: 3px;
}

.card-expense > .info .tag {
    background-color: #f5f5f5;
    color: #9a9a9a;
    padding: 2px 5px; 
}

.card-expense > .info .tag:not(:last-child) {
    margin-right: 5px;
}



/* ==== List Cards Expenses 
   ===================================== */
.p-0 {
    padding: 0;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.bold {
    font-weight: bold;
}

.hint-color {
    color: #999;
}

.list-card {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.list-card > .list-header {
    padding: 10px;
    color: #888;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-card > .list-item {
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.list-card > .list-item:hover,
.list-card > .list-item:active,
.list-card > .list-item:focus {
    background-color: #f6f6f6;
}

.icon-circle {
    background-color: #ccc;
    color: #fff;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.card-expense {
    display: flex;
    flex-direction: column;
}

.card-expense > .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card-expense > .content > .detail {
    flex: 1;
    padding: 0px 15px;
}

.card-expense > .content > .detail > .description {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-expense > .content > .detail > .info {
    font-size: .9em;
}

.card-expense > .content > .price {
    font-weight: bold;
    color: #FF9800;
}

.card-expense > .footer {
    margin-top: 10px;
    font-size: .8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-expense > .footer > .members {
    font-size: .8em;
}

.card-expense > .footer > .members > .icon-circle {
    margin-left: 5px;
}

.main > .header select {
    border: none;
    padding: 5px;
    color: #fff;
    background-color: #00bcd4;
}


/* FORM ELEMENTS */
.input-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-wrapper > .append-l {
    margin-right: 5px;
}

.input-wrapper > .append-r {
    margin-left: 5px;
}

.input-wrapper > input {
    width: 100%;
}

select, input {
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #aaa;
    transition: border-color .2s ease-in;
}

select:hover, input:hover,
select:focus, input:focus {
    outline: none;
    border-color: #00bcd4;    
}


/* Modal Expense */

.modal-expense .card-members .member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.modal-expense .card-members .member > .icon {
    font-size: .8em;
}

.modal-expense .card-members .member > .name {
    text-align: left;
    flex: 1;
    padding: 0 10px;
}

/* Material Toast plugin */
.mdtoast.mdt--info {
    background-color: #1d1d1d !important;
}